/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Others CSS Files */
@import url("./utilities.css");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* header styles */
header {
  padding: 1rem 0;
}

/* navbar styles */
.navbar {
  align-items: center;
  justify-content: space-between;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-left: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* banner styles */
.banner {
  margin-top: 100px;
}
.banner-content {
  max-width: 868px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.banner-tittle {
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 26px;
}
.banner-img {
  width: 100%;
  margin-top: 50px;
}

/* feature styles */
#feature {
  margin-top: 5rem;
  align-items: center;
  gap: 4rem;
}
.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.feature-content h3 {
  font-size: 3rem;
  font-weight: 700;
}
.feature-content h3 .font-thin {
  font-weight: 500;
}
.feature-description {
  font-size: 1rem;
  line-height: 26px;
  margin: 2rem 0;
}

/* experience styles */
#experience {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.3rem;
}
.experience-tittle {
  font-size: 3rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 2rem;
}
.experience-description {
  font-size: 1rem;
  line-height: 26px;
  margin: 1.5rem 0;
}
.card {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin-top: 1.5rem;
}
.card-tittle {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-description {
  font-size: 1rem;
  line-height: 26px;
}
.exp-img {
  position: relative;
  padding: 0 0 0 7rem;
}
.exp-img img {
  width: 100%;
}
.exp-year {
  display: inline-block;
  background-color: #ff900e;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  left: 1rem;
  bottom: -4rem;
}
.exp-year h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 70px;
}
.exp-year p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

/* header styles */
/* header styles */
/* header styles */
/* header styles */
/* header styles */
/* header styles */

/* footer styles */
footer {
  height: 600px;
}

/* Responsive Media Query for Small Device */
@media screen and (max-width: 576px) {
  /* media for header */
  .nav-links {
    display: none;
  }
  /* media for feature */
  #feature {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .feature-img {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  #experience {
    grid-template-columns: 1fr;
  }
}

/* Responsive Media Query for Medium Device */
@media screen and (min-width: 576px) and (max-width: 768px) {
  #feature {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .feature-img {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
